/**
 * mixin for generating the outer container of the grid
 *
 * @author Julian Kern <mail@juliankern.com>
 */
@mixin generate-container() {
    margin: 0 auto;
    box-sizing: border-box;

    @each $bpkey in getBreakpointList() {
        @if not(getBreakpointValue($bpkey, virtual) == true) {
            @include mq(min $bpkey, false) {
                $padding: getBreakpointLength($bpkey, padding);

                @if not(featureEnabled(fluid)) {
                    width: getBreakpointLength($bpkey, content);
                }

                padding-left: $padding;
                padding-right: $padding;
            }
        }
    }
}

/**
 * mixin for generating a row
 *
 * @author Julian Kern <mail@juliankern.com>
 */
@mixin generate-row() {
    box-sizing: border-box;

    @if isMode(flex) {
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: wrap;

        @if getConfigValue(origin) == 'right' {
            justify-content: flex-end;
            text-align: end;
        } @elseif getConfigValue(origin) == 'center' {
            justify-content: center;
            text-align: center;
        }
    } @else {
        position: relative;
        overflow: hidden;
    }

    @each $bpkey in getBreakpointList() {
        @if not(getBreakpointValue($bpkey, virtual) == true) {
            @include mq(min $bpkey, false) {
                $margin: getBreakpointValue($bpkey, gutter);
                margin-left: $margin * 0.5 * -1;
                margin-right: $margin * 0.5 * -1;
            }
        }
    }
}

/**
 * mixin for generating one single column
 *
 * @author Julian Kern <mail@juliankern.com>
 *
 * @param  {number} $number number of the column to generate
 */
@mixin generate-single-column($number) {
    box-sizing: border-box;

    @if isMode(flex) {
        flex: 0 0 auto;

        @if getConfigValue(origin) == 'right' {
            justify-content: flex-end;
            text-align: end;
        }
    } @else {
        float: #{getConfigValue(origin)};
        position: relative;
        width: 100%;
    }

    @each $bpkey in getBreakpointList() {
        @if not(getBreakpointValue($bpkey, virtual) == true) {
            @include mq(min $bpkey, false) {
                $padding: getBreakpointValue($bpkey, gutter);
                padding-left: $padding * 0.5;
                padding-right: $padding * 0.5;

                @include generate-column($number, getBreakpointValue($bpkey, columnCount));

                @if isMode(flex) {
                    flex-basis: 0;
                    flex-grow: 1;
                    max-width: 100%;
                }
            }
        }
    }
}

/**
 * mixin for generating the columns
 *
 * @author Julian Kern <mail@juliankern.com>
 */
@mixin generate-columns() {
    $sel: &;
    $sel: '#{$sel}';

    @at-root [class*="#{str-slice($sel, 2)}#{naming(separator)}"] {
        box-sizing: border-box;

        @if isMode(flex) {
            flex: 0 0 auto;

            @if getConfigValue(origin) == 'right' {
                justify-content: flex-end;
                text-align: end;
            }
        } @else {
            float: #{getConfigValue(origin)};
            position: relative;
            width: 100%;
        }
    }

    @each $bpkey in getBreakpointList() {
        @if not(getBreakpointValue($bpkey, virtual) == true) {
            @include mq(min $bpkey, false) {
                @at-root [class*="#{str-slice($sel, 2)}#{naming(separator)}"] {
                    $padding: getBreakpointValue($bpkey, gutter);
                    padding-left: $padding * 0.5;
                    padding-right: $padding * 0.5;
                }

                @for $i from 1 through getBreakpointValue($bpkey, columnCount) {
                    &#{naming(separator)}#{$bpkey}#{naming(separator)}#{$i} {
                        @include generate-column($i, getBreakpointValue($bpkey, columnCount));
                    }
                }

                @if isMode(flex) {
                    &#{naming(separator)}#{$bpkey} {
                        flex-basis: 0;
                        flex-grow: 1;
                        max-width: 100%;
                    }
                }

                @if featureEnabled(offset) {
                    @for $i from 1 through getBreakpointValue($bpkey, columnCount) {
                        &#{naming(separator)}#{naming(offset)}#{naming(separator)}#{$bpkey}#{naming(separator)}#{$i} {
                            @include generate-column-offset($i, getBreakpointValue($bpkey, columnCount));
                        }
                    }
                }
            }
        }
    }
}

/**
 * mixin for generating one specific column
 *
 * @author Julian Kern <mail@juliankern.com>
 *
 * @param  {number} $n number of the column to generate
 */
@mixin generate-column($n, $columnCount) {
    $width: (100% / $columnCount) * $n;

    @if isMode(flex) {
        max-width: $width;
        flex-basis: $width;
    } @else {
        width: $width;
    }
}

/**
 * mixin for generating the column offset
 *
 * @author Julian Kern <mail@juliankern.com>
 *
 * @param  {number} $n number of the column to generate
 */
@mixin generate-column-offset($n, $columnCount) {
    $width: (100% / $columnCount) * $n;

    margin-#{getConfigValue(origin)}: $width;
}

/**
 * generates the hiding class for visibility
 *
 * @author Julian Kern <mail@juliankern.com>
 */
@mixin generate-visibility-hide() {
    @each $bpkey in getBreakpointList() {
        @include mq(min $bpkey, false) {
            &#{naming(separator)}#{$bpkey} {
                display: none;
            }
        }
    }
}

/**
 * mixin for generating the visibility
 *
 * @author Julian Kern <mail@juliankern.com>
 */
@mixin generate-visibility() {
    $selectorBase: '.#{naming(prefix)}';

    @if featureEnabled(visibility) {
        @each $bpkey in getRederableBreakpointList() {
            @include mq(min $bpkey, false) {
                $showSelector: ();
                $hideSelector: ();

                @each $bpkeynew in getBreakpointList() {
                    @if $bpkey == $bpkeynew {
                        $showSelector: append($showSelector, #{$selectorBase}#{naming(show)}#{naming(separator)}#{$bpkeynew}#{naming(separator)}#{naming(only)}, 'comma');
                    }
                    @else {
                        $showSelector: append($showSelector, #{$selectorBase}#{naming(hide)}#{naming(separator)}#{$bpkeynew}#{naming(separator)}#{naming(only)}, 'comma');
                    }
                }

                @each $bpkeynew in getBreakpointList() {
                    @if $bpkey == $bpkeynew {
                        $hideSelector: append($hideSelector, #{$selectorBase}#{naming(hide)}#{naming(separator)}#{$bpkeynew}#{naming(separator)}#{naming(only)}, 'comma');
                    }
                    @else {
                        $hideSelector: append($hideSelector, #{$selectorBase}#{naming(show)}#{naming(separator)}#{$bpkeynew}#{naming(separator)}#{naming(only)}, 'comma');
                    }
                }

                #{$showSelector} {
                    @include _show-element();
                }

                #{$hideSelector} {
                    @include _hide-element();
                }
            }
        }
    }

    @if featureEnabled(retina) {
        @include mq(retina) {
            #{$selectorBase}#{naming(show)}#{naming(separator)}#{naming(retina)},
            #{$selectorBase}#{naming(hide)}#{naming(separator)}#{naming(no-retina)} {
                @include _show-element();
            }

            #{$selectorBase}#{naming(hide)}#{naming(separator)}#{naming(retina)},
            #{$selectorBase}#{naming(show)}#{naming(separator)}#{naming(no-retina)} {
                @include _hide-element();
            }
        }

        @include mq(no-retina) {
            #{$selectorBase}#{naming(show)}#{naming(separator)}#{naming(retina)},
            #{$selectorBase}#{naming(hide)}#{naming(separator)}#{naming(no-retina)} {
                @include _hide-element();
            }

            #{$selectorBase}#{naming(hide)}#{naming(separator)}#{naming(retina)},
            #{$selectorBase}#{naming(show)}#{naming(separator)}#{naming(no-retina)} {
                @include _show-element();
            }
        }
    }

    @if featureEnabled(touch) {
        @include mq(touch) {
            #{$selectorBase}#{naming(show)}#{naming(separator)}#{naming(touch)},
            #{$selectorBase}#{naming(hide)}#{naming(separator)}#{naming(no-touch)} {
                @include _show-element();
            }

            #{$selectorBase}#{naming(hide)}#{naming(separator)}#{naming(touch)},
            #{$selectorBase}#{naming(show)}#{naming(separator)}#{naming(no-touch)} {
                @include _hide-element();
            }
        }

        @include mq(no-touch) {
            #{$selectorBase}#{naming(show)}#{naming(separator)}#{naming(touch)},
            #{$selectorBase}#{naming(hide)}#{naming(separator)}#{naming(no-touch)} {
                @include _hide-element();
            }

            #{$selectorBase}#{naming(hide)}#{naming(separator)}#{naming(touch)},
            #{$selectorBase}#{naming(show)}#{naming(separator)}#{naming(no-touch)} {
                @include _show-element();
            }
        }
    }

    @if featureEnabled(orientation) {
        @include mq(landscape) {
            #{$selectorBase}#{naming(show)}#{naming(separator)}#{naming(landscape)},
            #{$selectorBase}#{naming(hide)}#{naming(separator)}#{naming(portrait)} {
                @include _show-element();
            }

            #{$selectorBase}#{naming(hide)}#{naming(separator)}#{naming(landscape)},
            #{$selectorBase}#{naming(show)}#{naming(separator)}#{naming(portrait)} {
                @include _hide-element();
            }
        }

        @include mq(portrait) {
            #{$selectorBase}#{naming(show)}#{naming(separator)}#{naming(landscape)},
            #{$selectorBase}#{naming(hide)}#{naming(separator)}#{naming(portrait)} {
                @include _hide-element();
            }

            #{$selectorBase}#{naming(hide)}#{naming(separator)}#{naming(landscape)},
            #{$selectorBase}#{naming(show)}#{naming(separator)}#{naming(portrait)} {
                @include _show-element();
            }
        }
    }
}
